@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/*Google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300;400&family=Raleway&display=swap");

body {
	font-family: "Montserrat", sans-serif;
	font-family: "Poppins", sans-serif;
	font-family: "Raleway", sans-serif;
}
/* 1rem means 1 times the root font-size.E.g: 1rem: 16px. 2rem: 32px. 0.5rem: 8px */
/* 1em refers to the font-size of parent element. E.g: 1.5 times 20px which is 30px*/

:root {
	font-size: 16px;
}

/* phone */
@media (min-width: 360px) {
	h1 {
		font-size: 1.8rem;
	}
	h2 {
		font-size: 1.6rem;
	}
	h3 {
		font-size: 1.4rem;
	}
	h4 {
		font-size: 1.2rem;
	}
	h5 {
		font-size: 1rem;
	}
	h6 {
		font-size: 0.9rem;
	}
	li {
		font-size: 1.1rem;
	}
	p {
		font-size: 1.1rem;
	}
}

/* tablet */
@media (min-width: 768px) {
	h1 {
		font-size: 2rem;
	}
	h2 {
		font-size: 1.8rem;
	}
	h3 {
		font-size: 1.6rem;
	}
	h4 {
		font-size: 1.4rem;
	}
	h5 {
		font-size: 1.2rem;
	}
	h6 {
		font-size: 1.1rem;
	}
	p {
		font-size: 1.4rem;
	}
}

/* landscape */
@media (min-width: 1024px) {
	h1 {
		font-size: 2.5rem;
	}
	h2 {
		font-size: 2.2rem;
	}
	h3 {
		font-size: 1.8rem;
	}
	h4 {
		font-size: 1.6rem;
	}
	h5 {
		font-size: 1.4rem;
	}
	h6 {
		font-size: 1.2rem;
	}
	p {
		font-size: 1.6rem;
	}
}

/* laptop */
@media (min-width: 1280px) {
	h1 {
		font-size: 4.5rem;
	}
	h2 {
		font-size: 3rem;
	}
	h3 {
		font-size: 1.6rem;
	}
	h4 {
		font-size: 1.4rem;
	}
	h5 {
		font-size: 1.3rem;
	}
	h6 {
		font-size: 1.2rem;
	}
	p {
		font-size: 1.1rem;
	}
	button {
		font-size: 1.1rem;
	}
	small {
		font-size: 1rem;
	}
}

/* screen */
@media (min-width: 1536px) {
	h1 {
		font-size: 3.5rem;
	}
	h2 {
		font-size: 2.8rem;
	}
	h3 {
		font-size: 2.4rem;
	}
	h4 {
		font-size: 2rem;
	}
	h5 {
		font-size: 1.8rem;
	}
	h6 {
		font-size: 1.6rem;
	}
	p {
		font-size: 2rem;
	}
	button {
		font-size: 1.6rem;
	}
}

button.purple-full {
	color: #f0f0f5;
	background-color: #9966ff;
	border: 1px solid #9966ff;
	padding: 0.7rem 2.5rem;
	border-radius: 9999px; /* rounded-full */
	letter-spacing: 0.1rem;
	transition: all 0.3s ease-in-out;
}

button.purple-full:hover {
	transform: scale(0.95); /* Se reduce el tamaño al 95% */
}
button.purple {
	font-size: 1.2rem;
	color: #9966ff;
	border: 1px solid #9966ff;
	background: transparent;
	padding: 0.7rem 2.5rem;
	text-transform: uppercase;
	border-radius: 999px; /* Esto hará que sea completamente ovalado */
	letter-spacing: 1px;
	transition: all 0.3s ease-in-out;
}

button.purple:hover {
	color: #f0f0f5;
	border: 1px solid #f0f0f5;
	background: #111827;
}
@layer components {
	/* colours */

	.text-light {
		color: #f0f0f5;
	}
	.text-dark {
		color: #1a1a1a;
	}
	.primary-500 {
		color: #9966ff;
	}
	.secundary-500 {
		color: #111827;
	}
	.primary-50 {
		color: #f2ecff;
	}
	.primary-400 {
		color: rgb(209, 158, 250);
	}
	/* form */
	.input-form {
		border: 1px solid #f2ecff;
		padding: 1rem;
		width: 100%;
		margin-bottom: 0.7rem;
		border-radius: 0.5rem;
	}
	.label-form {
		font-weight: bolder;
		color: #f2ecff;
		margin-bottom: 1rem;
	}
	/* Grids */
	.grid-bg {
		background-image: linear-gradient(
				to right,
				rgba(255, 255, 255, 0.1) 1px,
				transparent 1px
			),
			linear-gradient(
				to bottom,
				rgba(255, 255, 255, 0.1) 1px,
				transparent 1px
			);
		background-size: 20px 20px;
	}
}
