@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/*Google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300;400&family=Raleway&display=swap");

body {
	font-family: "Montserrat", sans-serif;
	font-family: "Poppins", sans-serif;
	font-family: "Raleway", sans-serif;
}
/* 1rem means 1 times the root font-size.E.g: 1rem: 16px. 2rem: 32px. 0.5rem: 8px */
/* 1em refers to the font-size of parent element. E.g: 1.5 times 20px which is 30px*/
/*
E.g

html {
  font-size: 18px;
}

div {
  font-size: 20px;
}

p {
  font-size: 1.5rem;
  width: 10rem;
  padding: 0.2rem;
  height: 4rem;
  border: 1rem solid red;
}
*/
:root {
	font-size: 5.33px;
}
/* phone */
@media (min-width: 360px) {
	h1 {
		font-size: 9rem;
	}
	h2 {
		font-size: 6.5rem;
		padding-bottom: 5rem;
		text-transform: capitalize;
		color: #000000;
	}
	h3 {
		font-size: 4rem;
	}
	li {
		font-size: 3rem;
	}
	p {
		font-size: 3rem;
		margin-bottom: 1rem;
		letter-spacing: 0.2rem;
	}
	button.purple-full {
		color: #f0f0f5;
		background-color: #9966ff;
		border: 1px solid #9966ff;
		padding: 3rem 5rem;
		border-radius: 9999px; /* rounded-full */
		letter-spacing: 0.1rem;
		transition: all 0.3s ease-in-out;
	}

	button.purple-full:hover {
		transform: scale(0.95); /* Se reduce el tamaño al 95% */
	}
	button.purple {
		font-size: 2.5rem;
		color: #9966ff;
		border: 1px solid #9966ff;
		background: transparent;
		padding: 3rem 5rem;
		text-transform: uppercase;
		border-radius: 999px; /* Esto hará que sea completamente ovalado */
		letter-spacing: 1px;
		transition: all 0.3s ease-in-out;
	}

	button.purple:hover {
		color: #f0f0f5;
		border: 1px solid #f0f0f5;
		background: #111827;
	}
}
/* tablet */
@media (min-width: 768px) {
	h3 {
		font-size: 3rem;
	}
	button.mustard {
		padding: 2rem;
	}
}
/* landscape */
@media (min-width: 1024px) {
}
/* laptop */
@media (min-width: 1280px) {
	h1 {
		font-size: 13rem;
	}
	h2 {
		font-size: 8.5rem;
	}
	h3 {
		font-size: 6.5rem;
	}
	h4 {
		font-size: 4rem;
	}
	li {
		font-size: 3.5rem;
	}
	p {
		font-size: 3.5rem;
		letter-spacing: 0.2rem;
	}
}
/* screen */
@media (min-width: 1536px) {
	h1 {
		font-size: 14rem;
	}
	h2 {
		font-size: 8rem;
	}
	h3 {
		font-size: 3.8rem;
	}
}

@layer components {
	/* colours */

	.text-light {
		color: #f0f0f5;
	}
	.text-dark {
		color: #1a1a1a;
	}
	.primary-color {
		color: #9966ff;
	}
	.secundary-color {
		color: #111827;
	}

	/* form */
	.input-form {
		border: 1px solid rgb(65, 65, 65);
		padding: 2rem;
		width: 100%;
		margin-bottom: 2rem;
		border-radius: 0.5rem;
	}
	.label-form {
		font-weight: bolder;
		color: #000000;
		margin-bottom: 2rem;
		font-size: 2rem;
	}
}

/* .input-form2 {
	@apply font-light border border-grey p-2 w-full;
}
.label-form2 {
	@apply font-extralight mb-2 text-black text-xl;
} */

/* 
:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
